{% section 'module-product-slideshow' %}
{% include 'breadcrumbs' %}
<div class="maincontent_sidebar__wrapper">
  <div class="coll__side_bar">
    {% include 'sidebar' %}
  </div>
  <div class="coll__content">
    {% section 'module-product' %}
  </div>
</div>